html {
    background-color: #FFFFFF;
}

body {
    margin: auto;
    width: 50%;
    min-width: 750px;
}

h1 {
    font-family: "Open Sans", sans-serif;
}

.reply {
    font-size: 11pt;
    color: #666666;
    padding-left: 2em;
}

.username {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.main {
    font-family: "Roboto", sans-serif;
}

.timestamp {
    color: #AAAAAA;
    font-family: "Open Sans", sans-serif;
}