@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    font-family: Poppins, sans-serif;
    background-color: #FFFFFF;
}

body {
    margin: auto;
    width: 50%;
    min-width: 750px;
}

h1 {
    font-family: "Open Sans", sans-serif;
}

.reply {
    font-size: 11pt;
    color: #666666;
    padding-left: 2em;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: #AAAAAA;
}

.reactions {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.react {
    background-color: #EEEEEE;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    user-select: none;
}

#mouseover-container {
    position: absolute;
    top: 0;
    min-width: 100px;
    padding: 10px;
    margin: 20px;
    background-color: #ffe7ad;
    border: 1px solid black;
}

#mouseover-container > p {
    margin: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}