html {
    background-color: #FFFFFF;
}

body {
    margin: auto;
    width: 50%;
    min-width: 750px;
}

h1 {
    font-family: "Open Sans", sans-serif;
}

.reply {
    font-size: 11pt;
    color: #666666;
    padding-left: 2em;
}

.username {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.main {
    font-family: "Roboto", sans-serif;
}

.timestamp {
    color: #AAAAAA;
    font-family: "Open Sans", sans-serif;
}

.reactions {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.react {
    background-color: #EEEEEE;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
}