{% extends 'base.html' %}
{% block title %} Baconguis Slack Archive - {{channel}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
<body>
  <h1 id="header">#{{channel}}</h1>
  <div id="sidebar">
    {% for channel in channels %}
      <a href="{{channel}}.html">#{{channel}}</a>
    {% endfor %}
  </div>
  <div class="archive-container">
    {% for root_message in messages %}
      <div class="message">
        {% include "_message.html" %}
        <div class="replies">
        {% for reply in root_message.replies %}
          <div class="reply">{% include '_reply.html' %}</div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</body>
{% endblock %}
